{% extends 'book/basic.html'%}

{% block title%}Books{% endblock%}
{%block body%}



<form action="" method="POST">
  <div style="padding-bottom: 56px;">
<div class="row">
    <div class="col-sm-12">
        <h3 style="background-color:#ff9800 "> Book Details </h3>
        {% csrf_token %}
        {{forms.as_p}}
        <input type="submit" value="submit">
        </form>
        <!-- <form action="{%  url 'books' %}" method="POST">
          {% csrf_token %}
          <br>
          <u style="padding-left:50%;color:green;"><input type="submit" value="SAVE"></u></form> -->


    </div>
    </div>
    </div>

    <div class="col-sm-12">
        <h3 style="background-color:#f17c2d;">All Books</h3>
        {% if  show  %}

        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Book Name</th>
                <th scope="col">Publication</th>
                <th scope="col">Serial No</th>
                <th scope="col">Edition</th>
                 <th scope="col">Fees</th>
            

              </tr>
            </thead>
            <tbody>
                {% for x in show %}
              <tr>
                <td>{{x.b_name}}</td>
                <td>{{x.publication}}</td>
                <td>{{x.s_no}}</td>
                <td>{{x.edition}}</td>
                <td>{{x.fees}}</td>
                
                <td>
                    <form action="{% url 'deletebook' x.id %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <input type="submit"  value="Delete">
                    </form>

                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        {% endif %}
        </div>
</div>
 {% endblock%}
 